<div class="column-1">
    <div style="min-height: 75px">
        <ol ng-repeat="todo in todoList track by $index" ng-click="chooseTodo($index)">{{todo.title}}</ol>
    </div>
    <div style="margin-bottom: 15px;margin-left:35px">
        <div ng-if="!isAdding">
            <button ng-click="showAddForm()">+</button><label> Click to add todo</label>
        </div>
        <div ng-if="isAdding" >
                <button ng-click="addTodo()">Add</button>
                <button ng-click="cancelAdd()">Cancle</button>
        </div>
        <!-- Add todo form -->
        <add-form ng-if ="isAdding"></add-form>
    </div>
</div>