.column-1{
    background-color: lightblue;
    margin-bottom: 15px;
    margin-left: 15px;
    float: left;
    min-height:200px;
    width: 48%;
}

.column-2{
    background-color: lightblue;
    margin-right: 15px;
    float: right;
    min-height:100px;
    width: 48%;
}
.content{
    background-color:lightsteelblue; 
    display: table; 
    width: 100%;
}

.header{
   height:50px;
   background-color: lightseagreen;
   width: 100%;
}

.page-name{
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
}

.title-input{
    width:90%;
}

.form{
    margin-top:15px;
    margin-right:15px;
}

.detail-input{
    display: table-cell; width: 98%;height: 70px;
}

.container{
    background-color:lightsteelblue; 
    display: table; 
    width: 100%;
}