<div ng-controller="HomeWorkController">
    <h1 style="text-align: center">TODOS LIST</h2>
        <div style='background-color:lightsteelblue; display: table; width: 100%; border-style: solid' ng-controller="LoginController">
            <div>
                <div style="height:50px;background-color: lightseagreen;width: 100%;border-bottom: solid">
                    <h2 style="padding-top: 10px;margin-top: 0px;margin-bottom: 0px;margin-left: 50px">
                        Choose todo
                    </h2>
                </div>
                <div style="margin-top: 15px">
                    <!-- collumn 1 -->
                    <div style="background-color: lightblue; margin-bottom: 15px;margin-left: 15px;float: left;min-height:200px;width: 48%;border-style: solid; border-color: blue" class="collumn-1">
                        <div style="min-height: 75px">
                            <ol ng-repeat="todo in todoList track by $index" ng-click="chooseTodo($index)">{{todo.title}}</ol>
                        </div>
                        <div style="margin-bottom: 15px;margin-left:35px">
                            <div ng-if="!isAdding">
                                <button ng-click="showAddForm()">+</button><label> Click to add todo</label>
                            </div>
                            <div ng-if="isAdding" >
                                    <button ng-click="addTodo()">Add</button>
                                    <button ng-click="cancel()">Cancle</button>
                            </div>
                        </div>
                        <!-- Add todo form -->
                        <div ng-if="isAdding"  style="border-style: solid; margin:15px">                
                            <div>
                                <label for="titleInput">Todo title:</label>
                                <input type="text" name="titleInput" ng-model="newTodo.title" style="width:90%">
                            </div>
                            <div>
                                <label for="detailInput" >Todo detail:</label>
                            </div>
                            <div>
                                <textarea ng-model="newTodo.detail" style="display: table-cell; width: 98%;height: 70px;" type="text" name="detailInput"> </textarea>
                            </div>
                        </div>
                    </div>
                    <!-- collumn 2 -->
                    <div style="background-color: lightblue;margin-right: 15px; float: right;min-height:100px;width: 48%;border-style: solid; border-color: blue" class="collumn-2">
                        <div style="margin-left: 15px">
                            <h3>{{selectedTodo.title}}</h3>
                        </div>
                        <div style="margin-bottom: 15px; margin-left: 15px">
                                {{selectedTodo.detail}}
                        </div>
                    </div>
                    <div style="float: right; border-style: solid; margin: 15px;">
                        <button ng-if='selectedTodo' ng-click="delete()">Delete</button>
                        <button ng-if='selectedTodo' >Update</button>
                    </div>
                </div>
            </div>
        </div>
</div>