<div>
    <div>
            <form ng-submit="register()">
                    <div>
                        <label>Name:</label>
                        <input type="text" ng-model="name"/>
                    </div>
                    <div>
                        <label>Email:</label>
                        <input type="email" ng-model="email"/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" ng-model="password"/>
                    </div>
                    <div>
                        <label>Age:</label>
                        <input type="text" ng-model="age">
                    </div>
                    <div>
                        <label>Nationality:</label>
                        <input type="text" ng-model="nationality">
                    </div>
                    <div>
                        <label>sdt:</label>
                        <input type="text" ng-model="sdt">
                    </div>
                    <div>
                        <label >Subcribe for news:</label>
                        <input type="text" ng-model="subcribe"/>
                    </div>
                    <div>
                        <button type="submit">Register</button>
                    </div>
                </form>
                </div>
    </div>
</div>