<div>
        <h3>Register</h3>
        <div>
            <label>Name:</label>
            <br>
            <input type="text" />
            <br>
            <label>Email:</label>
            <br>
            <input type="email" />
            <br>
            <label>Password:</label>
            <br>
            <input type="password"/>
            <br>
            <label>Age:</label>
            <br>
            <input type="text">
            <br>
            <label >Subcribe for news:</label>
            <input type="checkbox"/>
            <br>
            <button ng-click="register()">Register</button> 
        </div>
    </div>